<h1>Dashboards#home</h1>
<%= form_tag dashboards_search_result_path,:remote => true, :method => 'post' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search & Save", :name => nil %>
  </p>
<% end %>

<div class="twitter-search-results"></div>
